jupyter==1.1.1
langchain==0.3.26
langchain-community==0.3.27
python-dotenv==1.1.1
tqdm==4.67.1
jq==1.10.0
pandas==2.3.1
beautifulsoup4==4.13.4
requests==2.32.4
pypdf==5.8.0
pdfplumber==0.11.4
openai==1.109.1 
langchain-openai==0.3.34
chromadb==1.1.0
tiktoken==0.11.0
matplotlib==3.10.6